<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.soil.soilsample">

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 摄影机 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/earth"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".base.BaseApplication">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="kEuAEvnGwqMzegSHAsiOeliv0QSiKGmY" />
        <meta-data
            android:value="47f86a84d1082d19a3c32353ce9ed2f3"
            android:name="BUG_HD_SDK_GENERAL_KEY" />
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>
        <activity android:name=".ui.main.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.sampleinfo.SampleInfoActivity"/>
        <activity android:name=".ui.sampleinfo.HtmlCommentActivity"/>
        <activity android:name=".ui.sampleinfo.SamplePicSelectActivity"/>
        <activity android:name=".ui.myinfo.MyInfoActivity"/>
        <activity android:name=".ui.myinfo.SettingActivity"/>
        <activity android:name=".ui.function.FunctionActivity"/>
        <activity android:name=".ui.function.EnvironVariableActivity"/>
        <activity android:name=".ui.function.FuzzyMembershipActivity"/>
        <activity android:name=".ui.function.FCMActivity"/>
        <activity android:name=".ui.sampleinfo.AlternativeParamsActivity"/>
        <activity android:name=".ui.sampleinfo.AlterSampleInfoActivity"/>
        <activity android:name=".ui.sampleinfo.AlterParamsFCMActivity"/>
        <activity android:name=".ui.main.BNDemoGuideActivity"/>
        <activity android:name=".ui.favorite.FavoriteActivity"/>
        <activity android:name=".ui.myinfo.OfflineMapActivity"/>
        <activity android:name=".ui.myinfo.BaseMapDemo"/>
        <activity android:name=".ui.myinfo.AppHelpActivity"/>
        <activity android:name=".ui.main.UploadActivity"/>
        <!-- 土壤剖面拍照分层 -->
        <activity android:name="com.soil.profile.ui.SoilProfileActivity"/>
        <activity android:name="com.soil.profile.ui.ActivityAttributeHome"/>
        <activity android:name="com.soil.profile.ui.ActivityAttributeProperties"/>
        <activity android:name="com.soil.profile.ui.ActivityBaiduMap"/>
        <activity android:name="com.soil.profile.ui.ActivityEditPhoto"/>
        <activity android:name="com.soil.profile.ui.ActivityImageDetail"/>
        <activity android:name="com.soil.profile.ui.LoadProfileExistedActivity"/>
        <activity android:name="com.soil.profile.ui.TableAttrProperActivity"/>
        <activity android:name="com.soil.profile.ui.TableAttrRecActivity"/>
        <activity android:name="com.soil.profile.ui.UpdateTableAttrProperActivity"/>
    </application>

</manifest>